:root{
    --todoBorderstyle: 1px solid grey;
}
@font-face {
    font-family: "Roboto";
    src: url(./asset/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(./asset/Roboto-Bold.ttf);
}


body{
    font-size: 25px;
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
}

/* HEADER */
.header >p{
    text-align: center;
    font-size: larger;
    
}

/* INPUT FORM */
.todo>form>fieldset,.todoedit,.todo>form>fieldset>input{
    min-width: 250px; 
}
input:focus-visible{
    border: none;
    outline: none;
    position: relative;
}
.todo>form>fieldset>input,button{
   
    margin: 10px;
    border: 0px;
}
fieldset{
  flex-direction: column;
  display: flex;
}
.todo{
    display: flex;
    flex-direction: column;
   
}


/* .spanerror{
    
    background-color: rgb(255, 165, 165);
    position: relative;
    bottom: 10px;
    width:fit-content;
    bottom: 25px;
    left: 300px;
}

.spanerror::before{
    content: "add Title!";
    font-size: 15px;
    
} */
/* TODO ITEMS DIV n Buttons */
.todotitle{
    padding-bottom: 3px;
    font-size: 30px;
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
}

.tododescription{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.todoedit{
    position: relative;
   margin: 0px;
   border:none;
   background-color: white;
   text-align: left;
   border-bottom: var(--todoBorderstyle);
   padding: 10px;

   margin-bottom: 5px;
   font-size: 20px;
}



input[type="date"]{
    margin-top: 10px;
    
}

.deletebutton{
    color: green;
    font-size: large;
  
    background-color: white;
    border: 1px solid grey;
    position: relative;
   bottom: 40px;
   left: 250px;
}

.deletebutton:active{
    position: relative;
    border: 2px solid grey;
}