:root{
    --todoBorderstyle: 1px solid grey;
    --width: 350px;
    --grey:  rgb(240, 238, 241);
    --toRight: 240px;
   
}
@font-face {
    font-family: "Roboto";
    src: url(./asset/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(./asset/Roboto-Bold.ttf);
}

html{
    position: relative;
    z-index: 100;
   
    
}
body{
    position: relative;
    width: 100%;
    font-size: 25px;
    margin: 0px;
    text-decoration: none;
    background-color: var(--grey);
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
    background-color: #f0eef1;
    position: relative;
   
}

#content{
    background-color: var(--grey);
  align-items: center;
    display: flex;
    min-height: 95vh;
    flex-direction: column;
}

.todo{
    padding: 10px;
   border-radius: 10px;
   
   
    align-items: center;
    max-width: 450px;
}
/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.helpbutton{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 80px;
    
}
.header >p{
    text-align: center;
    font-size: larger;
    
}

.helpdiv{
   width: fit-content;
    background-color: white;
    border: 1px solid black;
    font-size: small;
    margin: 10px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translate(-50%,-50%);

 
    left: 50%;
}
.helptext{
    
    white-space: pre-line;
}
/* INPUT FORM */
.todo>form>fieldset,.todoedit,.todo>form>fieldset>input{
    min-width: var(--width); 
   
}
input{
    font-size: 15px;
    
}

input[type="submit"]{
    padding: 5px 0px;
    font-weight: bolder;
    color: red;
}
input.title{
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
}
textarea.description{
    height: 120px;
    box-sizing: border-box;
    resize: none;

}
input[type="submit"]:active{
    position: relative;
    top: 2px;    
}
input:focus-visible{
    position: relative;
}
.todo>form>fieldset>input, .helpbutton,textarea.description{
    padding: 3px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}
label{
    margin: 8px;
}

label{
    font-size: 15px;
}
fieldset{
  flex-direction: column;
  display: flex;
}
.todo{
    display: flex;
    flex-direction: column;
   
}
form{
    background-color: white;
}

/* CARDS */



.todotitle{
    padding-bottom: 3px;
    font-size: 30px;
    font-family: 'Roboto-Bold',Arial, Helvetica, sans-serif;
    
}

.tododescription{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    min-height: 50px;
    padding: 0px 10px;
}
.todoedit{
    position: relative;
   margin: 10px;
   border:none;
    width: calc(var(--width)*1.3);
   background-color: white;
   text-align: left;
   border-bottom: var(--todoBorderstyle);
   padding: 10px;

   margin-bottom: 5px;
   font-size: 20px;
   max-height: 150px;
}

select{
    margin-left: 10px;
}


input[type="date"]{
    margin-top: 10px;
    
}

button{
    margin-right: 5px;
    height: 25px;
}
.deletebutton, .editbutton{
    
    font-size: large;
    
    background-color: white;
    border: 1px solid grey;
  
}
.deletebutton{
    color: green;
    position: relative;
    /* bottom: var(--toTop); */
    left: calc(var(--toRight)*1.23);
   z-index: 2;
}
.editbutton{
    z-index: 1;
    position: absolute;
    font-size: small;
    font-weight: bold;
    top: 0px;
    left: 0px;
    padding: 70px 205px;
    opacity: 0;
}

.deletebutton:active, .editbutton:active, .helpbutton:active,.todoedit:active{
    
    top: 2px;
}

.low{
    /* background-color: rgb(235, 235, 235); */
}

.med{
    /* background-color: rgb(255, 255, 130); */
    color: rgb(0, 4, 212);
}

.high{
    /* background-color: rgb(255, 114, 114); */
    color: rgb(189, 35, 35);
}
.low::after,.med::after,.high::after{
position: inherit;


}
.low::after{
    content:"Priority: LOW";
    font-size: xx-small;
}

.med::after{
    content:"Priority: MED";
    font-size: 13px;
}
.high::after{
    content:"Priority: HIGH";
    font-size: 15px;
}

.hidden{
    visibility: hidden;
  
}